*{
  padding: 0;
  margin: 0;
}
html,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #353030;
  overflow: hidden;
}
.container h3{
  font-size: 40px;
  text-align: center;
  color: white;
}
.main
{
  width: 100%;
  height: 100%;

}
nav{
  height: 12%;
  width: 100%;

  display:flex ;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
nav .mybtn {
  font-size: 20px;
  background-color: lightskyblue;
  padding: 12px 15px;
  border: none;
  border-radius: 12px;
  
}
.container{
  height: 100%;
  width: 100%;
  position: relative; 
}
.container .box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  gap: 30px;
  
  /* background-color: red; */

}

.container h2{
  text-align: center;
   top: 20px;
  position: absolute;
  left: 550px;
  padding-top: 40px;
  font-size: 40px;
  font-weight: 900;
  color: aliceblue;
}
.box .box1{
  width: 200px;
  height: 200px;
  background-color:aqua;
}
.box .box2{
  width: 200px;
  height: 200px;
  background-color: red
}
.box .box3{
  width: 200px;
  height: 200px;
  background-color:yellow;
}
.box .box4{
  width: 200px;
  height: 200px;
  background-color: green;
}